#rightForms {
    width:35%;
    float:right;

}

#leftForms {
    width:50%;
    float: left;

}

#leftForms form {
    padding:2em;
    border:2px solid rgb(65, 105, 225); 
    /* royal blue */
    background-color: rgb(0, 0, 0);
    /* black */
    margin:1em;
    padding:0.5em;
    text-align: center;
}

input {
    color: darkblue;
    font-size: large;
}

#rightForms form {
    padding:1em;
    background-color:white;
    margin:1em;
    border:2px solid black;
    color:white;
    padding:1em;
    text-align: center;
}

body {
    background-color: rgb(65, 105, 225);
}