#rightForms {
    width:45%;
    float:right;

}

#leftForms {
    width:45%;
    float: left;

}

#leftForms form, #rightForms form {
    padding:2em;
    border:2px solid white; 
    /* royal blue */
    background-color: rgb(0, 0, 0);
    /* black */
    margin:1em;
    padding:0.5em;
    text-align: center;
}

input {
    color: darkblue;
    font-size: large;
}

/* #rightForms form {
    padding:1em;
    background-color:white;
    margin:1em;
    border:2px solid black;
    color:white;
    padding:1em;
    text-align: center;
} */

body {
    background-color: rgb(65, 105, 225);
}